.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 30px;
}

.select_item_wrapper {
  margin: 20px 0;
}

.product_list {
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
}

.product_item {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.non_click {
  background-color: #ffffff;
}

.click {
  background-color: #dddddd;
}

.input_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.input_wrapper_form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  padding: 0;
}

.crawling_button {
  text-align: center;
  width: 100px;
  height: 34px;
  margin-top: 20px;
  background-color: #dddddd;
}

.crawling_all_button {
  text-align: center;
  width: 150px;
  height: 34px;
  margin-top: 20px;
  background-color: #dddddd;
}
